header {
    font-family: 'Montserrat';
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

body {
    font-family: 'Montserrat';
    letter-spacing: 0.4px;
    background: #130F26;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.dropzoneContainer {
    margin-top: 8vh;
    width: 55vw;
}

.dropzone {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-color: black;
    border-radius: 5px;
    background-color: #130f23;
    height: 70vh;
    box-shadow: 0 0 60px #4F934A;
}

#filesList{
    z-index: 10;
    width: 95%;
}

.colorpicker {
    position: absolute;
    top: 2%;
}

.colorpicker>input {
    margin-left: 10px;
}

.dropzone img {
    transition: filter 1s;
    position: absolute;
}

.errorpopup {
    position: absolute;
    font-family: 'IBM Plex Sans', sans-serif;
}

.closepopup {
    width: 10em;
    height: 40px;
}

.errortitle {
    font-weight: 700 !important;
    font-size: 20px !important;
}

.dropzone.over {
    background-color: #1e1932;
    box-shadow: 0 0 120px #8bea84;
}

.dropzone>h1 {
    white-space: pre-line;
    z-index: 10;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 2.5vw;
    max-width: 95%;
    max-height: 90%;
    overflow: auto;
}

.dropzoneButtons {
    display: flex;
    justify-content: space-between;
}

.dropzoneContainer>div>button {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 7vh;
    height: 60px;
    width: 48%;
    background-color: #569B51;
    border-radius: 5px;
    border-style: none;
}

.dropzoneContainer>div>button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #4F934A;
    cursor: pointer;
}

.dropzone #filesList {
    position: absolute;
    max-height: 38%;
    overflow-y: auto;
    top: 0;
    left: 0;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 50%;
    width: 30vw;
}

.descriptionContainer>h1 {
    align-self: center;
    font-weight: 500;
    font-size: 2.5vw;
}

.descriptionContainer>p {
    font-weight: 500;
    text-align: justify;
}

.descriptionContainer>#separator {
    border: 2px solid #39424E;
    margin: 20px 0 40px 0;
}

.googleAccessContainer {
    color: cyan;
    font-size: 1.5vw;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.descriptionContainer>button {
    background-image: url("../assets/svg/google.svg");
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    background-size: 6%;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    height: 60px;
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

#logout {
    margin-top: 30px;
    background: none;
}

.descriptionContainer>button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px white;
    cursor: pointer;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    .dropzoneContainer {
        width: 100%;
    }

    .dropzone>h1 {
        font-size: 20px;
    }

    .dropzoneContainer>div>button {
        width: 100%;
        margin-top: 30px;
    }

    .dropzoneButtons {
        margin-top: 30px;
        flex-direction: column;
    }

    .descriptionContainer {
        text-align: center;
        width: 100%;
    }

    .descriptionContainer>h1 {
        white-space: pre-line;
        margin-top: 30px;
        font-size: 24px;
    }

    .googleAccessContainer {
        font-size: 20px;
    }
}