body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #130F26;
}

.swal2-popup {
    font-family: 'Montserrat';
}

#particle {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
    box-shadow: 0 0 60px #4F934A;
}

.container .forms {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
    background-color: #130f23;
    transition: height 0.2s ease;
}

.formLogin,
.formSignup {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formLogin div,
.formSignup div {
    align-items: center;
    margin: 15px;
}

.checkbox {
    display: flex;
    justify-content: center;
}

.input-field input {
    font-family: "Montserrat";
    padding-left: 10px;
    color: #FFFFFF;
    height: 4vh;
    width: 280px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid white;
}

.input-field button {
    font-family: "Montserrat";
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    height: 4vh;
    width: 100%;
    background-color: #569B51;
    border-radius: 5px;
    border-style: none;
}

.input-field button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #4F934A;
    cursor: pointer;
}

a {
    color: #4F934A;
    text-decoration: none;
}